@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #efece6;
    color: #1a1a1a;
  }

  h1, h2, h3, h4, .font-serif {
    font-family: 'Playfair Display', serif;
  }
}

html {
  scroll-behavior: smooth;
}